<div class="jumbotron">
  <img src="images/JSMN_logo_only.png" alt="Jonathan Strange and Mr Norrell">
  <h3>Character Guide</h3>
<!--   <p class="lead">
    <img src="images/strangeNorrell.jpg" alt="Strange and Norrell gazing into a silver bowl"><br>
    "Well, I suppose one ought not to employ a magician and then complain that he does not behave like other people."
  </p> -->
</div>

<div>
    <div class="row" >
        <div class="col-md-4" ng-repeat="character in characters">
            <img src="{{character.imageUrl}}" class="mugshot" ng-click="selectCharacter(character)">
            <h4>{{character.name}}</h4>
<!--         <p class="col-md-4 col-lg-4 col-sm-6">
            {{character.blurb}}
        </p> -->
        </div>
    </div>
</div>
<mr-norrell ng-click="selectCharacter()" ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseLeave()">
    <img src="{{character.imageUrl}}" ng-class="{selected: mouseIn}" class="mugshot">
    {{character.name}}</mr-norrell>
