<div class="jumbotron">
  <img src="images/JSMN_logo_only.png" alt="Jonathan Strange and Mr Norrell">
  <h3>Character Guide</h3>
<!--   <p class="lead">
    <img src="images/strangeNorrell.jpg" alt="Strange and Norrell gazing into a silver bowl"><br>
    "Well, I suppose one ought not to employ a magician and then complain that he does not behave like other people."
  </p> -->
</div>

<div>
    <div class="row" >
        <jsmn-characters>
            <jsmn-character ng-repeat="character in characters" class="col-md-4">
                <img src="{{character.imageUrl}}" ng-class="{selected: mouseIn}" ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseLeave()" class="mugshot" ng-click="toggleCharacter({{character}})">
                <span class="center-label">{{character.name}}</span>
              </jsmn-character>
            <description-box ng-show="activeChar" ng-hide="!activeChar" class="text-box">{{activeChar.blurb}}</description-box>
        </jsmn-characters>
    </div>
</div>
